.bar-wrapper {
	margin-left: 3px;
}

.bar {
	display: inline-block;
	background-color: #006eff;
	margin-left: 3px;
}

.radix-bar {
	position: relative;
	display: inline-block;
	background-color: #006eff;
	margin-left: 15px;
}

.bar-text {
	position: absolute;
	text-align: center;
	bottom: 1px;
	left: 50%;
	margin-left: -50%;
	width: 100%;

	letter-spacing: 2px;
	font-weight: bold;
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

	background-color: inherit;
}

.bar-text > span {
	display: inline-block;
}

.counting-bar {
	display: inline-block;
	background-color: #006eff;
}

.counting-wrapper {
	position: relative;
	text-align: center;
	height: 150px;
	margin-top: 30px;
}

.counting-wrapper2 {
	position: absolute;
	left: 50%;
	margin-left: -50%;
	width: 100%;
	bottom: 0;
}

.wrapper {
	display: inline-block;
	margin-left: 5px;
	position: relative;
	bottom: 0;
}

.array-wrapper {
	text-align: center;
	margin-top: 50px;
	padding: 0 100px 0 100px;
}

@media only screen and (max-width: 1440px) {
	.array-wrapper {
		padding: 0 50px 0 50px;
	}
}

@media only screen and (max-width: 1050px) {
	.array-wrapper {
		padding: 0;
	}
}
